<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 1. STORAGE PERMISSIONS -->
    <!-- For Android 9 and lower (API 24 to 28) -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- For Android 13 and higher (API 33 to 37) -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 2. SERVICE PERMISSIONS -->
    <!-- Required for background execution on API 28+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Required for media playback execution on API 34+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- AUDIO EFFECTS PERMISSIONS -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MC.One"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlayerActivity" />
        <activity
            android:name=".activity.AlbumDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FolderDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ArtistDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.FavoritesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.RecentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DataStorageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EqualizerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HiddenFoldersActivity"
            android:exported="false" />

        <activity
            android:name=".activity.PlaylistsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.PlaylistDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            android:theme="@style/Theme.MC.One">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <receiver
            android:name=".widget.MusicWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.flatcode.littleplayer.ACTION_UPDATE_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_small_info" />
        </receiver>

        <receiver
            android:name=".widget.MusicWidgetProviderLarge"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.flatcode.littleplayer.ACTION_UPDATE_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_large_info" />
        </receiver>

    </application>

</manifest>